section#about.section.scrollspy
  h3.page-title.white-text.teal About
  .container.flow-text
      h2 Hi there!
    p
      | I’m Abhishek Katara currently pursuing Btech in CSE at Indian Institute of Information Technology, Vadodara, India. I like to code, read and travel a lot. I'm an active competitive programmer and trying my hand in open source.
    
    p #[strong Current Interest]:
      | &nbsp;
      a(
          aria-label='homepage'
          href='link'
        ) Competitive Programming
      | &nbsp;//&nbsp;
      a(
          aria-label='homepage'
          href='link'
        ) Machine Learning
      | &nbsp;//&nbsp;
      a(
        aria-label='homepage'
        href='link'
      ) Cloud Computing
